/* App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el título horizontalmente */
  text-align: center; /* Centra el texto */
  background-color: #000000; /* Color de fondo */
  min-height: 100vh; /* Asegura que ocupe todo el alto de la ventana */
  padding-top: 20px; /* Espacio en la parte superior */
}

.App h1 {
  font-size: 2em; /* Tamaño de fuente */
  margin-bottom: 25px; /* Espacio inferior */
  color: #00d9ff; /* Color del texto */
  width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
}

.content {
  display: flex; /* Disposición horizontal */
  justify-content: space-between; /* Espacio entre el logo y el chatbot */
  align-items: flex-start; /* Alinear en la parte superior */
  width: 100%; /* Ocupar todo el ancho */
  max-width: 1200px; /* Limitar ancho máximo si es necesario */
}

.logo {
  width: 500px; /* Ajusta el tamaño del logo según sea necesario */
  margin-right: 20px; /* Espacio entre el logo y el chatbot */
}

.chatbot {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px; /* Ancho máximo del chatbot */
  margin: auto; /* Centrado automático si hay espacio */
  background-color: #000000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgb(255, 255, 255);
}

.chat-window {
  width: 100%; /* Asegura que la ventana de chat ocupe todo el ancho */
  height: 300px; /* Ajusta la altura según sea necesario */
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #1aa7e9;
  border-radius: 5px;
  margin-bottom: 15px;
}
